

/* dark mode */
:root[data-color=light] {
  --point-color: #448deb;
  --point-color2: #cf1f1f;
  --bg-color1: white;
}


:root[data-color=dark] {
  --point-color: #448deb;
  --point-color2: #cf1f1f;
  --bg-color1: black;
}


/* scroll */
*::-webkit-scrollbar  { 
  width: 7px; 
  height: 7px;
  /* height: 100%; */
}
*::-webkit-scrollbar-thumb {
  height: 20%;
  background: var(--scroll-color); /* 스크롤바의 색상 */
  border-radius: 4px;
};   
*::-webkit-scrollbar-track {
  background: var(--scroll-bg-color);  /*스크롤바 뒷 배경 색상*/
}




/* 팝업 생성 시 화면 흔들리는거 해결 */
/* y 쓰면 화면은 안흔들리는데 ..아래에서 팝업 클릭하면 맨 위로감 */
/* padding-right 로 해결 */
body.popup_active { overflow-y: scroll; position: fixed; left: 0; top: 0; width: 100%; height: 100%; overflow: hidden;  padding-right: 7px; }

/* layout */
#wrap { display: flex; width: 100%; height: 100%; flex-direction: column; }
#header { flex: 0 0 auto; }
#contents { flex: 1 1 100%; }
#footer { flex: 0 0 auto; }




/* color */
.bg-color1 { background-color: var(--bg-color1); }
.bg-white { background-color: white; }
.bg-primary { background-color: rgb(0, 102, 255); }
.bg-test { background-color: rgb(255, 217, 0); }

/* size */
.h-screen { height: 100vh; } 
.w-screen { width: 100vw; }
.w-full { width: 100%; }
.h-full { height: 100%; }

/* position */
.absolute { position: absolute; }
.relative { position: relative; }
.fixed { position: fixed; }
.top-0 { top: 0; }
.left-0 { left: 0; }
.right-0 { right: 0; }
.z-10 { z-index: 10; }
.z-20 { z-index: 20; }
.z-30 { z-index: 30; }
.z-40 { z-index: 40; }
.z-50 { z-index: 50; }
.z-60 { z-index: 60; }
.z-70 { z-index: 70; }
.z-80 { z-index: 80; }
.z-90 { z-index: 90; }
.z-100 { z-index: 100; }

/* display */
.flex { display: flex; }
.block { display: block; }


/* events */
.pointer-events-none { pointer-events: none; }


 