<html>
    <head>
    </head>
    <body>
        <div class="wrap">
                    <p class="info_text">๐ก ์ธ์ฆ ๋ฒํธ</p>
            <div class="info_code">
                <strong><%= authCode %></strong>
            </div>
        </div>
    </body>
</html>