.line {
    text-decoration: line-through;
    color: #999;
}

.ul {
    padding:0;
    color:#444;
}

.ul > li{
    padding:5px;
    list-style: none;
    border:1px solid #ddd;
    margin-top: 5px;
}

.ul > li:hover {
    transition: .5s all;
    background: #ddd;
    /*color: #fff;*/
}